<div class="container mx-auto">
    <div class="row my-4">
        <div *ngFor="let item of Requestlist;let i in index" class="col-md-auto">
            <div class="card bg-dark text-white" style="width: 15rem;">
                <img class="card-img-top mt-2"
                    src="{{(item.BOOK_IMAGE).toString()}}"
                    alt="Card image cap" height="180" width="200">
                <div class="card-body">
                    <h5 class="card-title text-center">{{item.BOOK_NAME}}</h5>
                    <p class="card-text">
                        <b>Author:</b> {{item.AUTHOR}}<br>
                        <b>Owned by:</b> You<br>
                        <b>Requested by:</b> {{item.REQUESTER_NAME}}<br>
                        <b>Return by:</b> {{item.RETURN_DATE | date: 'yyyy-MM-dd'}}<br>
                        <b>Delivery:</b> {{item.DELIVERY_METHOD}}<br>
                        <b>Status:</b> {{item.STATUS}}
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button *ngIf="this.item.STATUS==='Requested'" class="btn btn-sm btn-outline-success"
                            type="button" (click)="UpdateRequest(this.item.EXCHANGE_ID,'Accept')">Accept</button>
                        <button *ngIf="this.item.STATUS==='Accepted'" class="btn btn-sm text-success"
                            type="button">Accepted</button>
                        <button *ngIf="this.item.STATUS==='Requested'" class="btn btn-sm btn-outline-danger"
                            type="button" (click)="UpdateRequest(this.item.EXCHANGE_ID,'Decline')">Decline</button>
                        <button *ngIf="this.item.STATUS==='Declined'" class="btn btn-sm text-danger"
                            type="button">Declined</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>