.book-card {
    width: 300px; /* Set the desired width for each book card */
    margin-bottom: 20px; /* Add space between each row of book cards */
  }
  
  .card-group {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin-right: 20px; /* Add space between each book card */
  }
  